* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;    
    background-color: rgb(8, 59, 153);
    padding: 20px;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 90%;
    margin-bottom: 50px;
  
}

#city {
    font-size: 26px;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 20px;
    width: 90vw;
}

.current-container {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 20px;
    width: 90vw;
    font-size: 20px;
}

#searchHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.location {
    padding: 40px;
}

.weather {
    padding: 40px;
}

.fiveDayForecastContainer {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 20px;
    width: 90vw;
}

#history-list button {
    margin: 10px;
    padding: 10px;
    background-color: rgb(8, 59, 153);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
}

.forecast-card {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgb(8, 59, 153);
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

/* .hidden {
    display: none;
} */